$backgroundColor: #0a0a0a; // main Background
$primaryColor: #00bfff; // main Textcolor #1ecb14
$secondaryColor: #1e90ff; // active Btn or Highlights #0d7611
$accentColor: #8fdfff; // hover & visauls #28e624
$mutedTextColor: #707070; // muted text
$borderColor: #1f1f1f; // borders and lines
$highlightColor: #00ffff; // glow-effect #a3ff9f
$elementBgColor: #141414; // background for cards, elements, ...

$navbarHeight: 2rem;
