@use "./mixins.scss" as *;
@use "./variables.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #0a0a0a; // main Background
  --primaryColor: #00bfff; // main Textcolor #1ecb14
  --secondaryColor: #1e90ff; // active Btn or Highlights #0d7611
  --accentColor: #8fdfff; // hover & visauls #28e624
  --mutedTextColor: #707070; // muted text
  --borderColor: #1f1f1f; // borders and lines
  --highlightColor: #00ffff; // glow-effect #a3ff9f
  --elementBgColor: #141414; //
  --elementBgColorTransparent: #141414b3;
  --heroCenterColor: #0086b3;
}

body {
  background-color: var(--backgroundColor);
  margin-top: $navbarHeight;
  font-family: "Space Grotesk", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
  height: $navbarHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;

  &__logo {
  }

  &__menu {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background-color: var(--elementBgColorTransparent);
    padding: 1rem;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    // animation
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 1s ease, transform 1s ease;

    &--active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &__link,
  &__logo,
  &__hamburger {
    text-decoration: none;
    color: var(--primaryColor);
    text-transform: uppercase;
    text-shadow: 0 0 15px var(--primaryColor);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.2s ease;

    &--active {
      color: var(--accentColor);
      text-shadow: 0 0 25px var(--accentColor);
    }
    &:hover {
      color: var(--accentColor);
      transform: scale(1.1) rotateZ(-1deg);
      text-shadow: 0 0 5px var(--accentColor), 0 0 10px var(--accentColor),
        0 0 20px var(--accentColor), 0 0 40px rgba(0, 255, 255, 0.3);
    }
  }

  &__hamburger {
    cursor: pointer;
    width: 24px;
    height: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1001;
    transition: all 0.3s ease;

    span {
      display: block;
      height: 2px;
      background-color: var(--primaryColor);
      border-radius: 2px;
      transition: all 0.4s ease;
      transform-origin: center;
    }
    &--active {
      span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
      }
    }
  }
}

.hero {
  display: flex;
  height: calc(100vh - $navbarHeight);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(
      circle,
      rgba(0, 191, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.85) 35%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    color: var(--heroCenterColor);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    width: calc(100vw);
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 5px rgba(80, 150, 180, 0.3),
      0 0 10px rgba(40, 100, 120, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.7);

    &--head {
      font-size: 3.5rem;
      letter-spacing: 2rem;
      padding-left: 2rem;
      width: fit-content;
      color: var(--accentColor);
      text-shadow: 0 0 10px var(--primaryColor);
    }

    &--main {
      background-color: #141414b3;
      border-top: 1px solid var(--primaryColor);
      border-bottom: 1px solid var(--primaryColor);
      font-size: 1.8rem;
      padding-left: 1rem;
    }

    &--sub {
      font-size: 1rem;
      letter-spacing: 1rem;
      padding-left: 1rem;
      width: fit-content;
      color: var(--accentColor);
      text-shadow: 0 0 10px var(--accentColor);
      margin-top: 1rem;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primaryColor);

  &__heading {
    @include header(1.8rem);
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // jede Zeile wird zentriert
    gap: 1rem;
    padding: 2rem;
    background-color: #0a0a0a;
  }

  &__picture {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    filter: brightness(0.7); // leicht abgedunkelt
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: brightness(1);
      transform: scale(1.02);

      &::after {
        opacity: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 0.5rem;
      pointer-events: none;
      background: linear-gradient(
        to right,
        #0a0a0a 0%,
        transparent 20%,
        transparent 80%,
        #0a0a0a 100%
      );
      opacity: 1;
      transition: opacity 0.3s ease;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    &__links {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      position: static;
      top: auto;
      right: auto;
      background-color: transparent;
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
    &__hamburger {
      display: none;
    }
  }
  .hero {
    &__title {
      letter-spacing: 1rem;
      &--head {
        font-size: 6rem;
        padding-left: 4rem;
        letter-spacing: 4rem;
      }
      &--main {
        font-size: 2.5rem;
      }

      &--sub {
        font-size: 2rem;
        letter-spacing: 2rem;
        padding-left: 2rem;
      }
    }
  }
}
