@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  margin-top: 2rem;
  font-family: "Space Grotesk", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 1000;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1f1f1f;
  font-size: 1.2rem;
}
.navbar__logo, .navbar__link {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: #00bfff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 15px #00ffff;
  height: 2rem;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 2rem;
  align-items: center;
}
.navbar__link--active {
  background-color: #141414;
  color: #8fdfff;
  border-left: 1px solid #1f1f1f;
  border-right: 1px solid #1f1f1f;
  text-shadow: 0 0 25px #8fdfff;
}

.hero {
  display: flex;
  height: calc(100vh - 2rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle, rgba(0, 191, 255, 0.15) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.85) 35%, rgba(0, 0, 0, 0.95) 100%), url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 133.7, 178.5);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  width: calc(100vw - 1rem);
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 5px rgba(80, 150, 180, 0.3), 0 0 10px rgba(40, 100, 120, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hero__title--head {
  font-size: 3.5rem;
  letter-spacing: 2rem;
  padding-left: 2rem;
  width: fit-content;
  color: #8fdfff;
  text-shadow: 0 0 10px #00bfff;
}
.hero__title--main {
  background-color: rgba(20, 20, 20, 0.7);
  border-top: 1px solid #00bfff;
  border-bottom: 1px solid #00bfff;
  font-size: 2rem;
  padding-left: 1rem;
}
.hero__title--sub {
  font-size: 1rem;
  letter-spacing: 1rem;
  padding-left: 1rem;
  width: fit-content;
  color: #8fdfff;
  text-shadow: 0 0 10px #8fdfff;
  margin-top: 1rem;
}

@media screen and (min-width: 1000px) {
  .hero__title {
    letter-spacing: 1rem;
  }
  .hero__title--head {
    font-size: 6rem;
    padding-left: 4rem;
    letter-spacing: 4rem;
  }
  .hero__title--main {
    font-size: 2.5rem;
  }
  .hero__title--sub {
    font-size: 2rem;
    letter-spacing: 2rem;
    padding-left: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
