@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $backgroundColor;
  margin-top: $navbarHeight;
  font-family: "Space Grotesk", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 1000;
  height: $navbarHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $borderColor;
  font-size: 1.2rem;

  &__logo,
  &__link {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: $primaryColor;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 15px $highlightColor;
    height: $navbarHeight;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-right: 2rem;

    align-items: center;
  }

  &__link {
    &--active {
      background-color: $elementBgColor;
      color: $accentColor;
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      text-shadow: 0 0 25px $accentColor;
    }
  }
}

.hero {
  display: flex;
  height: calc(100vh - $navbarHeight);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(
      circle,
      rgba(0, 191, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.85) 35%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    color: darken($primaryColor, 15%);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    width: calc(100vw - 1rem);
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 5px rgba(80, 150, 180, 0.3),
      0 0 10px rgba(40, 100, 120, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.7);

    &--head {
      font-size: 3.5rem;
      letter-spacing: 2rem;
      padding-left: 2rem;
      width: fit-content;
      color: $accentColor;
      text-shadow: 0 0 10px $primaryColor;
    }

    &--main {
      background-color: transparentize($elementBgColor, 0.3);
      border-top: 1px solid $primaryColor;
      border-bottom: 1px solid $primaryColor;
      font-size: 2rem;
      padding-left: 1rem;
    }

    &--sub {
      font-size: 1rem;
      letter-spacing: 1rem;
      padding-left: 1rem;
      width: fit-content;
      color: $accentColor;
      text-shadow: 0 0 10px $accentColor;
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    &__title {
      letter-spacing: 1rem;
      &--head {
        font-size: 6rem;
        padding-left: 4rem;
        letter-spacing: 4rem;
      }
      &--main {
        font-size: 2.5rem;
      }

      &--sub {
        font-size: 2rem;
        letter-spacing: 2rem;
        padding-left: 2rem;
      }
    }
  }
}
